# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are sumarized

Learning Objectives
- Create a Jupyter Notebook with markdown and code cells
- list examples of languages, libraries and tools used in Data Science
- Share the Jupyter notebook publicly on Github

Some populaar langages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. matplotlib
5. Scikit learn
6. keras
7. Pytorch
8. Tenseflow
9. ggplot2

# Data Science Tools

|Tool             | Description                                                                                                                  |
|-----------------|------------------------------------------------------------------------------------------------------------------------------|
|Jupyter Notebook | Supports more tan hundred different programming languages through "kernels"                                                  |
|Jupyter lab      | It has the ability to open different of files including jupyter notebooks, data and terminals and arrange then in a canvas   |
|Apache Zeppelin  | It offers a similar experience in the plotting capability                                                                    |
|R Studio         | it exclusively runs R and associated libraries                                                                               |
|Spyder           | tries to mimir R Studio funcionality for Pythons                                                                             |
|Apache Spark     | Provides cluster execution environment                                                                                       |
|Knime            | It has drag-and-drop capabilities and built-in visualization capabilities                                                    |

# Arithmetic Operators Examples
Below are a few examples of evaluating arithmetic expressions in python.
|Operator| name           | Example     |
|--------|----------------|-------------|
|+       | Addition       | 1 +1 = 2    | 
|-       | Substraction   | 2 - 1 = 1   |
|*       | Multiplication | 1 * 4 = 4   |
|/       | Division       | 10 / 2 = 5  |
|%       | Modulus        | 10 % 3 = 1  |
|**      | Exponent       | 2**3 = 8    |
|//      | Floor Division | 10/3 = 3    |

In [2]:
#This is simple arithmetic expresssion to multiply and then add integers
a = 5
b = 10
c = a * b
d = 3
e = c + d

print (c)
print (e)

50
53

In [1]:
#This will convert 200 minutes to hours by dividing by 60

print ("Please enter the minutes")
minutes = input()
minutes = int(minutes)
hours = 60
result = minutes / hours

print ("the result in hours is " + str(result))

Please enter the minutes

 200

the result in hours is 3.3333333333333335

## Author
Max Obed Ricardo Jesus Alfredo Narro Rangel